
<a href="/restaurants/create"><button class="create">I have a new Restaurant ! </button></a>
<div class="container">
  
  {{#each restaurants as |restaurant|}}
  <div class="restaurant" id="restaurant-{{restaurant.id}}">
      <div class="img">
        <img src="{{restaurant.image}}" alt="">
      </div>
      <div class="name">
        <h4>{{restaurant.name}}</h4>
      </div>
      <div class="function">
          <a href="/restaurants/{{restaurant.id}}/edit"><button>Edit</button> </a>
          <a href="/restaurants/{{restaurant.id}}">Detail</a>
          <form action="/restaurants/{{restaurant.id}}?_method=DELETE" method="POST" >
          <button type="submit">Delete</button>
          </form>
         
      </div>
  </div>
  {{/each}}

</div>